@import "../assets/scss/variables";

.mobilenav{
    display: none;
    background-color: #212121;
    opacity: 89%;
}
@media screen and (max-width:425px) {
    .mobilenav{
        display: block;
      
    }
  }

.navbrand{
    width: 46vw;
}
.search_logo{
    color: white;
    font-size: 6vw;
}
